@model IEnumerable<FirstMvc.Models.Person>
@{
    ViewBag.Title = "Staff";
}
<h2>Staff</h2>


<div class="row">

    <div class="col-md-6" id="indexlist">

        @foreach (var item in Model)
        {
        @Html.Partial("_Aperson", item)
        }
        <span id="newPersonHere"></span>
    </div>

    <div class="col-md-6">
            @Html.Action("AjaxCreatePerson")
        </div>
</div>


