@model IEnumerable<FirstMvc.Models.Person>
@{
    ViewBag.Title = "Staff";
}
<h2>Staff</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    Html.RenderAction("_Person", item);
}
<br/>
<form action="@Url.Action("Index", "Person")" method="post">
    <input type="text" name="search" value="" />
    <input type="submit" value="Search" />
</form>

