@model IEnumerable<FirstMvc.Models.Person>
@{
    ViewBag.Title = "Staff";
}
<h2>Staff</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">

    <div class="col-md-6">
        @foreach (var item in Model)
        {
            @Html.Action("PartPerson", new { id = item.Id })
        }
    </div>

    <div class="col-md-6">
        <form action="@Url.Action("Index", "Person")" method="post">
            <input type="text" name="search" value="" />
            <input type="submit" value="Search" />
        </form>
    </div>

</div>



