

@{
    ViewBag.Title = "Sokoban";
}
<h1 hidden id="hid">GRATTIS DU HAR KLARAT BANAN!!!</h1>

<div class="container" onkeydown="TheKey(event)">
    <div id="mapHere" class="mapArea"></div>
    <br />
    <button id="restartGame">Restart game</button>
    <button id="newGame">New game</button>
</div>

<script src="~/Scripts/settings.js"></script>
<script src="~/Scripts/my.js"></script>